<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="{{ url_for('main.index') }}" class="logo">
            <img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="سیستم شکایات">
          </a>
          <!-- ***** Logo End ***** -->
          
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section">
              <a href="{{ url_for('main.index') }}" class="active">خانه</a>
            </li>
            <li class="scroll-to-section">
              <a href="{{ url_for('main.index') }}#services">خدمات</a>
            </li>
            <li class="scroll-to-section">
              <a href="{{ url_for('main.index') }}#about">درباره ما</a>
            </li>
            
            {% if user.is_authenticated %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-user"></i> {{ user.full_name }}
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  {% if user.is_customer %}
                    <li><a href="{{ url_for('main.dashboard') }}"><i class="fa fa-dashboard"></i> داشبورد</a></li>
                    <li><a href="{{ url_for('main.create_complaint') }}"><i class="fa fa-edit"></i> ثبت شکایت</a></li>
                  {% elif user.is_expert %}
                    <li><a href="{{ url_for('main.expert_dashboard') }}"><i class="fa fa-dashboard"></i> داشبورد کارشناس</a></li>
                  {% elif user.is_staff or user.is_superuser %}
                    <li><a href="{{ url_for('main.admin_dashboard') }}"><i class="fa fa-dashboard"></i> داشبورد مدیر</a></li>
                  {% endif %}
                  
                  <li><a href="#"><i class="fa fa-user-cog"></i> پروفایل</a></li>
                  <li class="divider"></li>
                  <li><a href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out-alt"></i> خروج</a></li>
                </ul>
              </li>
            {% else %}
              <li>
                  <a href="{{ url_for('auth.login') }}">
                    ورود
                  </a>
              </li>
              <li>
                <a href="{{ url_for('auth.register') }}">
                  ثبت‌نام
                </a>
              </li>
            {% endif %}
          </ul>
          
          <a class='menu-trigger'>
            <span>منو</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->